.wrapper {
    min-height: 100vh;
    background-color: rgb(10, 10, 10);
    font-family: 'Satoshi', sans-serif;
    color: #F9FAFB;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 40px;
    padding-bottom: 24px;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 999px;
    padding: 12px 24px;
    border: 1px solid rgba(255, 255, 255, 0.08);


}

.logo {
    font-size: 20px;
    font-weight: 700;
    font-family: "Instrument Serif", serif;
}

.logo span {
    color: rgba(252, 252, 250, 0.5);
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-buttons button {
    background-color: #6214D9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
    font-family: 'Satoshi', sans-serif;
    font-size: 15px;
}